<%- include('../views/partials/header'); %>
  <form method="post" action="/todo/add">
    <div>
      <label>ToDo Name</label>
      <input type="text" name="text" placeholder="Add ToDo">
    </div>
    <div>
      <label>ToDo Body</label>
      <textarea type="text" name="text" placeholder="Add Body"></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>

<%- include('../views/partials/footer'); %>
